# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

__Objectives:__
* List popular languages for Data Science
* List some libraries used in Data Science
* List some tools that are used in Data Science
* Examples of aithmetic expressions

Some of the popular languages that Data Scientists use are :
1. python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. python libraries
2. R libraries
3. Julia libraries

|Data Science Tools|
|------------------|
|Jupyter notebook|
|Tensorflow|
|VS code|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [3]:
min=200
min/60

3.3333333333333335

## Author

Iniya Elango